@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
    background-color: #ffffff;
    width: 620px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    color: #1DBF74;
}

h4 {
    color: grey;
    font-size: 15px;
}

ul li {
    color: #a8a7a7;
}

th {
    color: grey;
}

td {
    color: #a8a7a7;
}

hr {
    border-style: dotted none none;
    border-color: #d8d5d5;
    border-width: 4px;
}

p {
    color: #a8a7a7;
    font-size: 13px;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: #1DBF74;
}

label {
    color: grey;
}

button {
    color: grey;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px grey;
    border-radius: 50px;
    font-size: 13px;
    letter-spacing: 1px;
    transition: .4s;
    cursor: pointer;
}

button:hover {
    background-color: #1DBF74;
    color: white;
    transition: ease-in-out .4s;
}